@font-face {
    font-family: 'golos_bold';
    src: url(../fonts/golostext_bold.ttf);
}

@font-face {
    font-family: 'golos_regular';
    src: url(../fonts/golostext_regular.ttf);
}

@font-face {
    font-family: 'navigo_regular';
    src: url(../fonts/Navigo-Regular.ttf);
}