.header {
    &__nav {
        display: flex;
        align-items: center;
        gap: 28px;
        padding: 10px 0;
    }

    &__title {
        font-family: 'golos_regular';
        font-size: 14px;
    }

    &__btn_logo {
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__hr_green {
        position: absolute;
        margin: 0px;
        width: 100%;
        background: #73BE43;
        height: 1px;
        border: none;
    }

    &__hr_red {
        position: absolute;
        margin: 0px;
        width: 50%;
        background: #E9262D;
        height: 1px;
        border: none;
    }

    &__hr_bold_red {
        position: absolute;
        margin: 0px;
        width: 39%;
        background: #E9262D;
        height: 5px;
        border: none;
    }
}