.container {
    padding-left: 30px;
    padding-right: 30px;
}

.main {
    &__title {
        font-family: 'golos_bold';
        font-size: 38px;
        margin: 82px 0 36px;
    }

    &__description {
        font-family: 'golos_regular';
        font-size: 18px;
        letter-spacing: 0.07px;
        margin-bottom: 34px;
    }
}

.box_desc {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 15px 15px 19px;
    border-radius: 10px;
    background-color: #FFEFE0;
}

.desc {
    font-family: 'golos_regular';
    font-size: 16px;
    margin: 0;
}

.hyphen {
    color: #D70E2A;
    margin-right: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    border: none;
    background-color: #E9262D;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 41px;
    padding: 15px 0 13px;
    cursor: pointer;

    &__testing {
        font-size: 18px;
        font-family: 'golos_bold';
        color: #FFFFFF;
        margin: 0;
    }
}

.under_btn {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #CCCCCC;
    margin: 0;
}

.hidden {
    display: none;
}

.message {
    display: none;
    font-family: 'golos_regular';
    font-size: 18px;
    margin: 33px 0 23px;
}

.wrap {
    gap: 20px;
    @media (max-width: 470px) {
        flex-direction: column;
        align-items: center;
    }
}

