.test_btn_continue {
    position: absolute;
    padding: 15px 45px;
    width: fit-content;
    border-radius: 8px;
    color: #000000;
    border: 1px solid #00000020;
    font-family: 'golos_regular';
    font-size: 16px;
    background-color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
}

.quiz {
    display: none;
    list-style-type: none;
    padding-left: 0;
    max-width: 77%;
    &__title {
        font-family: 'golos_bold';
        font-size: 38px;
        margin: 70px 0px 20px;
    }
    &__question {
        font-family: "golos_regular";
        margin-bottom: 34px;
        font-size: 18px;
        letter-spacing: .07px;
    }
}

.answer_text {
    font-family: 'golos_regular';
    font-size: 16px;
}

.answer { 
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 21px;
    border: 2px solid #E9262D;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
}

.answer:checked {
    border: 6px solid #E9262D;
}

label {
    display: flex;
    align-items: center;
    gap: 11px;
    letter-spacing: -0.3px;
}

.hr_top {
    margin-bottom: 18px;
}

.hr_botton {
    margin: 18px 0;
}